h1{
    text-align: center;
    font-family: "Mountains of Christmas", serif;
}

p{


 display: inline-block;
 text-align: center;
margin: 2% 

}



.mountains-of-christmas-regular {
    font-family: "Mountains of Christmas", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .mountains-of-christmas-bold {
    font-family: "Mountains of Christmas", serif;
    font-weight: 700;
    font-style: normal;
  }
.caption{
font-family:cursive
}
.caption2{
font-family:cursive

}
body{
    background-color: #F4EDE9  ;
}
  
.style{
  display: flex;
  text-align: center;
  margin: 3%;
}
  
.style2{
  display: flex;
  text-align: center;
  margin: 3%;
}


  @keyframes slide {
    from { transform: translateX(0); }
    to { transform: translateX(100px); }
  }
  
  /* This is a animation    */
  .animated {
    animation-name: slide; 
    animation-duration: 3s; 
    animation-iteration-count: infinite; /* Keeps it moving */
    animation-direction: alternate;    /* Smooth back-and-forth */
    animation-timing-function: ease-in-out; 
  }
  
